<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title data-page-title="">校园生活幸福感问卷</title>
    <!-- <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet"> -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">
</head>

<body class="bg-bright1" data-bg-color="bg-bright1">
    <section>
        <header class="bkui-header bkui-header-info">
            <h1 class="bkui-header-title">校园生活幸福感问卷</h1>
        </header>
    </section>
    <section id="descA">
        <p class="bkui-paragragh f14 m15">
        第一部分<br/><br/>
        该部分有40道题目，请根据您<b style="color: red;">过去一周内</b>的实际情况选择，每道题目有四个选项，分别表示：<br/>
        A：没有或很少时间（出现这类情况的日子<b style="color: red;">不超过一天</b>）<br/>
        B：小部分时间（有<b style="color: red;">1-2天</b>有过这类情况）<br/>
        C：相当多时间（有<b style="color: red;">3-4天</b>有过这类情况）<br/>
        D：绝大部分或全部时间（有<b style="color: red;">5-7天</b>有过这类情况）<br/><br/>
       建议时间8-10分钟
        </p>
    </section>
    <section id="descB" style="display: none;">
        <p class="bkui-paragragh f14 m15">
        第二部分<br/><br/>
        该部分有21道题目。<br/>
        1请仔细阅读每项，结合您<b style="color: red;">过去一周内</b>的情绪（包括今天）作出符合自己情况的选择。<br/>
        2.建议时间约4-8分钟。<br/>
        </p>
    </section>
    <section>
        <form class="bkui-form bkui-spacing" id="paperForm" th:with="sdsA=#{sds.choiceA},sdsB=#{sds.choiceB},sdsC=#{sds.choiceC},sdsD=#{sds.choiceD}">
            <div th:replace="template::s(#{sds.question1},${sdsA},${sdsB},${sdsC},${sdsD},'sds1')"></div>
            <div th:replace="template::s(#{sds.question2},${sdsA},${sdsB},${sdsC},${sdsD},'sds2')"></div>
            <div th:replace="template::s(#{sds.question3},${sdsA},${sdsB},${sdsC},${sdsD},'sds3')"></div>
            <div th:replace="template::s(#{sds.question4},${sdsA},${sdsB},${sdsC},${sdsD},'sds4')"></div>
            <div th:replace="template::s(#{sds.question5},${sdsA},${sdsB},${sdsC},${sdsD},'sds5')"></div>
            <div th:replace="template::s(#{sds.question6},${sdsA},${sdsB},${sdsC},${sdsD},'sds6')"></div>
            <div th:replace="template::s(#{sds.question7},${sdsA},${sdsB},${sdsC},${sdsD},'sds7')"></div>
            <div th:replace="template::s(#{sds.question8},${sdsA},${sdsB},${sdsC},${sdsD},'sds8')"></div>
            <div th:replace="template::s(#{sds.question9},${sdsA},${sdsB},${sdsC},${sdsD},'sds9')"></div>
            <div th:replace="template::s(#{sds.question10},${sdsA},${sdsB},${sdsC},${sdsD},'sds10')"></div>
            <div th:replace="template::s(#{sds.question11},${sdsA},${sdsB},${sdsC},${sdsD},'sds11')"></div>
            <div th:replace="template::s(#{sds.question12},${sdsA},${sdsB},${sdsC},${sdsD},'sds12')"></div>
            <div th:replace="template::s(#{sds.question13},${sdsA},${sdsB},${sdsC},${sdsD},'sds13')"></div>
            <div th:replace="template::s(#{sds.question14},${sdsA},${sdsB},${sdsC},${sdsD},'sds14')"></div>
            <div th:replace="template::s(#{sds.question15},${sdsA},${sdsB},${sdsC},${sdsD},'sds15')"></div>
            <div th:replace="template::s(#{sds.question16},${sdsA},${sdsB},${sdsC},${sdsD},'sds16')"></div>
            <div th:replace="template::s(#{sds.question17},${sdsA},${sdsB},${sdsC},${sdsD},'sds17')"></div>
            <div th:replace="template::s(#{sds.question18},${sdsA},${sdsB},${sdsC},${sdsD},'sds18')"></div>
            <div th:replace="template::s(#{sds.question19},${sdsA},${sdsB},${sdsC},${sdsD},'sds19')"></div>
            <div th:replace="template::s(#{sds.question20},${sdsA},${sdsB},${sdsC},${sdsD},'sds20')"></div>
            <div th:replace="template::s(#{sas.question1},${sdsA},${sdsB},${sdsC},${sdsD},'sas1')"></div>
            <div th:replace="template::s(#{sas.question2},${sdsA},${sdsB},${sdsC},${sdsD},'sas2')"></div>
            <div th:replace="template::s(#{sas.question3},${sdsA},${sdsB},${sdsC},${sdsD},'sas3')"></div>
            <div th:replace="template::s(#{sas.question4},${sdsA},${sdsB},${sdsC},${sdsD},'sas4')"></div>
            <div th:replace="template::s(#{sas.question5},${sdsA},${sdsB},${sdsC},${sdsD},'sas5')"></div>
            <div th:replace="template::s(#{sas.question6},${sdsA},${sdsB},${sdsC},${sdsD},'sas6')"></div>
            <div th:replace="template::s(#{sas.question7},${sdsA},${sdsB},${sdsC},${sdsD},'sas7')"></div>
            <div th:replace="template::s(#{sas.question8},${sdsA},${sdsB},${sdsC},${sdsD},'sas8')"></div>
            <div th:replace="template::s(#{sas.question9},${sdsA},${sdsB},${sdsC},${sdsD},'sas9')"></div>
            <div th:replace="template::s(#{sas.question10},${sdsA},${sdsB},${sdsC},${sdsD},'sas10')"></div>
            <div th:replace="template::s(#{sas.question11},${sdsA},${sdsB},${sdsC},${sdsD},'sas11')"></div>
            <div th:replace="template::s(#{sas.question12},${sdsA},${sdsB},${sdsC},${sdsD},'sas12')"></div>
            <div th:replace="template::s(#{sas.question13},${sdsA},${sdsB},${sdsC},${sdsD},'sas13')"></div>
            <div th:replace="template::s(#{sas.question14},${sdsA},${sdsB},${sdsC},${sdsD},'sas14')"></div>
            <div th:replace="template::s(#{sas.question15},${sdsA},${sdsB},${sdsC},${sdsD},'sas15')"></div>
            <div th:replace="template::s(#{sas.question16},${sdsA},${sdsB},${sdsC},${sdsD},'sas16')"></div>
            <div th:replace="template::s(#{sas.question17},${sdsA},${sdsB},${sdsC},${sdsD},'sas17')"></div>
            <div th:replace="template::s(#{sas.question18},${sdsA},${sdsB},${sdsC},${sdsD},'sas18')"></div>
            <div th:replace="template::s(#{sas.question19},${sdsA},${sdsB},${sdsC},${sdsD},'sas19')"></div>
            <div th:replace="template::s(#{sas.question20},${sdsA},${sdsB},${sdsC},${sdsD},'sas20')"></div>
            <div th:replace="template::s('第1题',#{bdi.q1.a0},#{bdi.q1.a1},#{bdi.q1.a2},#{bdi.q1.a3},'bdi1')"></div>
            <div th:replace="template::s('第2题',#{bdi.q2.a0},#{bdi.q2.a1},#{bdi.q2.a2},#{bdi.q2.a3},'bdi2')"></div>
            <div th:replace="template::s('第3题',#{bdi.q3.a0},#{bdi.q3.a1},#{bdi.q3.a2},#{bdi.q3.a3},'bdi3')"></div>
            <div th:replace="template::s('第4题',#{bdi.q4.a0},#{bdi.q4.a1},#{bdi.q4.a2},#{bdi.q4.a3},'bdi4')"></div>
            <div th:replace="template::s('第5题',#{bdi.q5.a0},#{bdi.q5.a1},#{bdi.q5.a2},#{bdi.q5.a3},'bdi5')"></div>
            <div th:replace="template::s('第6题',#{bdi.q6.a0},#{bdi.q6.a1},#{bdi.q6.a2},#{bdi.q6.a3},'bdi6')"></div>
            <div th:replace="template::s('第7题',#{bdi.q7.a0},#{bdi.q7.a1},#{bdi.q7.a2},#{bdi.q7.a3},'bdi7')"></div>
            <div th:replace="template::s('第8题',#{bdi.q8.a0},#{bdi.q8.a1},#{bdi.q8.a2},#{bdi.q8.a3},'bdi8')"></div>
            <div th:replace="template::s('第9题',#{bdi.q9.a0},#{bdi.q9.a1},#{bdi.q9.a2},#{bdi.q9.a3},'bdi9')"></div>
            <div th:replace="template::s('第10题',#{bdi.q10.a0},#{bdi.q10.a1},#{bdi.q10.a2},#{bdi.q10.a3},'bdi10')"></div>
            <div th:replace="template::s('第11题',#{bdi.q11.a0},#{bdi.q11.a1},#{bdi.q11.a2},#{bdi.q11.a3},'bdi11')"></div>
            <div th:replace="template::s('第12题',#{bdi.q12.a0},#{bdi.q12.a1},#{bdi.q12.a2},#{bdi.q12.a3},'bdi12')"></div>
            <div th:replace="template::s('第13题',#{bdi.q13.a0},#{bdi.q13.a1},#{bdi.q13.a2},#{bdi.q13.a3},'bdi13')"></div>
            <div th:replace="template::s('第14题',#{bdi.q14.a0},#{bdi.q14.a1},#{bdi.q14.a2},#{bdi.q14.a3},'bdi14')"></div>
            <div th:replace="template::s('第15题',#{bdi.q15.a0},#{bdi.q15.a1},#{bdi.q15.a2},#{bdi.q15.a3},'bdi15')"></div>
            <div th:replace="template::s('第16题',#{bdi.q16.a0},#{bdi.q16.a1},#{bdi.q16.a2},#{bdi.q16.a3},'bdi16')"></div>
            <div th:replace="template::s('第17题',#{bdi.q17.a0},#{bdi.q17.a1},#{bdi.q17.a2},#{bdi.q17.a3},'bdi17')"></div>
            <div th:replace="template::s('第18题',#{bdi.q18.a0},#{bdi.q18.a1},#{bdi.q18.a2},#{bdi.q18.a3},'bdi18')"></div>
            <div th:replace="template::s('第19题',#{bdi.q19.a0},#{bdi.q19.a1},#{bdi.q19.a2},#{bdi.q19.a3},'bdi19')"></div>
            <div th:replace="template::s('第20题',#{bdi.q20.a0},#{bdi.q20.a1},#{bdi.q20.a2},#{bdi.q20.a3},'bdi20')"></div>
            <div th:replace="template::s('第21题',#{bdi.q21.a0},#{bdi.q21.a1},#{bdi.q21.a2},#{bdi.q21.a3},'bdi21')"></div>
        </form>
    </section>
     <section>
        <div class="bkui-button-wrapper m15">
            <button id="btn" class="bkui-btn f14 bkui-btn-info">继续</button>
        </div>
    </section>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk_mobile/js/bkui.js"></script>
    <script src="https://cdn.bootcss.com/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js"></script>
    <script src="https://cdn.bootcss.com/artDialog/7.0.0/dialog.js"></script>
    <script>
    $(function(){
    	var is_confirm=true;
        $(window).bind('beforeunload', function(){
            if(is_confirm == true)
                return '确认离开？';
        });
    	var id="A";
    	var tag="sds";
    	var startTimeA=null;
    	var endTimeA=null;
    	var startTimeB=null;
    	var endTimeB=null;
    	$("#btn").click(function(){
    		if(id=="A"){
    			$("#descA").hide();
    			$("#sds1").show();
                $("#btn").text("下一题");
                startTimeA=new Date();
    			id=1;
    			return false;
    		}
    		if(id=="B"){
    			$("#descB").hide();
                $("#bdi1").show();
                $("#btn").text("下一题");
                startTimeB=new Date();
                id=1;
    			return false;
    		}
   			var v=$("#"+tag+id+" :radio:checked").val();
   			if(v==undefined){
                var d = dialog({
                    title:'提示',
                    content : '您还未选择，请先选择！'
                });
                d.show();
                setTimeout(function() {
                    d.close().remove();
                }, 1000);
                return false;
            }
   			if(id==20 && tag=="sas"){
   				$("#"+tag+id).hide();
  				$("#descB").show();
  				$("#btn").text("继续");
  				endTimeA=new Date();
   				id="B";
   				tag="bdi";
   				return false;
   			}
   			if(id==20 && tag=="bdi"){
   				$("#btn").text("提交");
   			}
   			if(id==21 && tag=="bdi"){
   				endTimeB=new Date();
   				var time=parseInt(((endTimeA-startTimeA)+(endTimeB-startTimeB))/1000);
   				var date=$("#paperForm").serializeJSON();
   				date.time=time;
   				var dd = dialog({
                    content : '提交中...'
                });
                dd.showModal();
                $.ajax({
                    url: "/submit",
                    type: "post",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(date),
                    success:function (res) {
                        if(res.success){
                        	is_confirm=false;
                            window.location.href="/finish";
                        }else{
                            dd.close().remove();
                            var d = dialog({
                                title:'提示',
                                content : '您已参加过本问卷，本次提交无效！'
                            });
                            d.show();
                            setTimeout(function() {
                            	is_confirm=false;
                                window.location.href="/finish";
                            }, 1000);
                        }
                    },
                    error:function(){
                        dd.close().remove();
                        var d = dialog({
                            title:'提示',
                            content : '提交失败！'
                        });
                        d.show();
                        setTimeout(function() {
                            d.close().remove();
                        }, 1000);
                    }
                });
                return false;
   			}
   			var outEle=$("#"+tag+id);
   			if(id==20 && tag=="sds"){
   				tag="sas";
   				id=0;
   			}
            var inEle=$("#"+tag+(id+1));
            id=id+1;
            outEle.hide();
            inEle.show();
    	});
    });
        
    </script>
</body>

</html>